<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/index.css">
<head>
	<title>SCP - Inicio</title>
	<% include partials/head %>
</head>
<body>
	<video autoplay="autoplay"  id="video_background" preload="auto" volume="50"/>
	<source src="/videoprueba1.mp4" type="video/mp4" />
</video/>
<div class="container">
	<div class="row">
		<div class="col l3"></div>
		<div class="col l6">
			<div class="top">
				<div class="divider animated fadeInLeft"></div>
				<h1 style="text-align: center;" class="animated fadeInDown">SCP</h1>
				<div class="divider animated fadeInRight"></div>
				<p style="text-align: center;" class="animated zoomIn">Un sitema novedoso de Ubicacion,conteo y manejo de las unidades de trasporte;con una gran capacidad de precision y exactitud a la hora de mostrar datos</p>
				<center>
					<a class="waves-effect waves-light btn btn-style" href="/login">Ingresar</a>
				</center>
			</div>
		</div>
	</div>
</div>

</body>
</html>
