<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<title>SCP - Panel de control</title>
</head>
<body>

	<section id="home" class="scrollspy">
		<% include partials/navbar %>
		<div class="row">
			<div class="col l1"></div>
			<div ass="col l1"></div>
			<div class="col l3">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<center>
							<a href="#conductores"><i class="material-icons deep-cyan-face">face</i></a>
						</center>
					</div>
					<div class="card-content">
						<h5 style="text-align: center;" href="#conductores">Conductores</h5>
					</div>
				</div>
			</div>
			<div class="col l1"></div>
			<div class="col l3">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<center>
							<a href="#crear"><i class="material-icons deep-cyan">create</i></a>
						</center>
					</div>
					<div class="card-content">
						<h5 style="text-align: center;">Editar Rutas</h5>
					</div>
				</div>
			</div>
			<div class="col l1"></div>
			<div class="col l3">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<center>
							<a href="#bus"><i class="material-icons deep-cyan-money">directions_bus</i></a>
						</center>
					</div>
					<div class="card-content">
						<h5 style="text-align: center;">Equipos de autobus</h5>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!------------------------------------------------------- scrollspy------------------------------------------->
	<div class="parallax-container">
		<div class="parallax"><img src="conductor.jpg"></div>
	</div>
	<!-----------------------------------------------------parallax --------------------------------------->
	<section id="conductores" class="scrollspy">
		<div class="row" id="base">
			<div class="col l1"></div>
			<div class="col l3" id="large">
				<div data-aos="fade-up">
					<center>
						<i class="material-icons deep-cyan-face2">face</i>
					</center>
					<div class="card-content" id="large">
						<h5 style="text-align: center;">Conductores</h5>
						<a class="waves-effect waves-light btn colors" id="equip">Equipos</a>

						<a class="waves-effect waves-light btn colors" id="ruta">Rutas</a>

						<a class="waves-effect waves-light btn colors" id="hora">Horarios</a>

					</div>			
				</div>
			</div>
			<!--------------------------------------tabs contend----------------------------------------------->
			
			<div class="col l8">

				<div class="slider-for">
					<div>
						<img src="https://img00.deviantart.net/51a4/i/2016/338/b/2/rin__shelter__minimalist_wallpaper_by_slezzy7-daqkqbz.png"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/752/thumb-1920-752346.jpg"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/467/thumb-1920-467850.jpg"/>
					</div>
					<div>
						<img src="https://stmed.net/sites/default/files/alice%3A-madness-returns-hd-wallpapers-32730-4797108.png"/>
					</div>
					<div>
						<img src="https://i.ytimg.com/vi/0WnxZjlyKqM/maxresdefault.jpg"/>
					</div>
				</div>


				<div class="slider-nav">
					<div id="madness">
						<img src="https://img00.deviantart.net/51a4/i/2016/338/b/2/rin__shelter__minimalist_wallpaper_by_slezzy7-daqkqbz.png"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/752/thumb-1920-752346.jpg"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/467/thumb-1920-467850.jpg"/>
					</div>
					<div>
						<img src="https://stmed.net/sites/default/files/alice%3A-madness-returns-hd-wallpapers-32730-4797108.png"/>
					</div>
					<div>
						<img src="https://i.ytimg.com/vi/0WnxZjlyKqM/maxresdefault.jpg"/>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-----------------------------------------------------parallax ----------------------------------------------->
	<div class="parallax-container">
		<div class="parallax"><img src="editar.jpg"></div>
	</div>
	<!-----------------------------------------------------parallax ----------------------------------------------->
	<section id="crear" class="scrollspy">
		<div class="row" id="base">
			<div class="col l1"></div>
			<div class="col l3" id="large">
				<div data-aos="fade-up">
					<center>
						<i class="material-icons deep-cyan-face2">create</i>
					</center>
					
					<div class="card-content" id="large">
						<h5 style="text-align: center;">Editar rutas</h5>
						<a class="waves-effect waves-light btn colors" id="ruta" href="/agregar">Agregar</a>

						<a class="waves-effect waves-light btn colors" id="ruta">Eliminar</a>

						<a class="waves-effect waves-light btn colors" id="equip">Actualizar</a>

					</div>			
				</div>
			</div>
			<!--------------------------------------tabs contend----------------------------------------------->
			
			<div class="col l8">
	
				<div class="sliderfor">
					<div>
						<img src="https://img00.deviantart.net/51a4/i/2016/338/b/2/rin__shelter__minimalist_wallpaper_by_slezzy7-daqkqbz.png"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/752/thumb-1920-752346.jpg"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/467/thumb-1920-467850.jpg"/>
					</div>
					<div>
						<img src="https://stmed.net/sites/default/files/alice%3A-madness-returns-hd-wallpapers-32730-4797108.png"/>
					</div>
					<div>
						<img src="https://i.ytimg.com/vi/0WnxZjlyKqM/maxresdefault.jpg"/>
					</div>
				</div>


				<div class="slidernav">
					<div>
			<img src="https://img00.deviantart.net/51a4/i/2016/338/b/2/rin__shelter__minimalist_wallpaper_by_slezzy7-daqkqbz.png"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/752/thumb-1920-752346.jpg"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/467/thumb-1920-467850.jpg"/>
					</div>
					<div>
						<img src="https://stmed.net/sites/default/files/alice%3A-madness-returns-hd-wallpapers-32730-4797108.png"/>
					</div>
					<div>
						<img src="https://i.ytimg.com/vi/0WnxZjlyKqM/maxresdefault.jpg"/>
					</div>
				</div>

			</div>
		</div>

	</section>
	<!-----------------------------------------------------parallax ----------------------------------------------->
	<div class="parallax-container">
		<div class="parallax"><img src="auto.jpg"></div>
	</div>
	<!-----------------------------------------------------parallax ----------------------------------------------->
	<section id="bus" class="scrollspy">
		<div class="row" id="base">
			<div class="col l1"></div>
			<div class="col l3" id="large">
				<div data-aos="fade-up">
					<center>
						<i class="material-icons deep-cyan-face2">directions_bus</i>
					</center>
					<div class="card-content" id="large">
						<h5 style="text-align: center;">Equipos de autobus</h5>
						<a class="waves-effect waves-light btn colors" id="conductor">Conductores</a>

						<a class="waves-effect waves-light btn colors" id="ruta">Rutas</a>

						<a class="waves-effect waves-light btn colors" id="hora">Horarios</a>

					</div>			
				</div>
			</div>
			<!--------------------------------------tabs contend----------------------------------------------->
			
			<div class="col l8">

				<div class="sliderfor2">
					<div>
						<img src="https://img00.deviantart.net/51a4/i/2016/338/b/2/rin__shelter__minimalist_wallpaper_by_slezzy7-daqkqbz.png"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/752/thumb-1920-752346.jpg"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/467/thumb-1920-467850.jpg"/>
					</div>
					<div>
						<img src="https://stmed.net/sites/default/files/alice%3A-madness-returns-hd-wallpapers-32730-4797108.png"/>
					</div>
					<div>
						<img src="https://i.ytimg.com/vi/0WnxZjlyKqM/maxresdefault.jpg"/>
					</div>
				</div>


				<div class="slidernav2">
					<div id="madness">
						<img src="https://img00.deviantart.net/51a4/i/2016/338/b/2/rin__shelter__minimalist_wallpaper_by_slezzy7-daqkqbz.png"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/752/thumb-1920-752346.jpg"/>
					</div>
					<div>
						<img src="https://images8.alphacoders.com/467/thumb-1920-467850.jpg"/>
					</div>
					<div>
						<img src="https://stmed.net/sites/default/files/alice%3A-madness-returns-hd-wallpapers-32730-4797108.png"/>
					</div>
					<div>
						<img src="https://i.ytimg.com/vi/0WnxZjlyKqM/maxresdefault.jpg"/>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-------------------------------------------------------------- pinbutton------------------------------------------------>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light arrow" href="#home">
		<i class="material-icons deep">keyboard_arrow_up</i>
	</a>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="grafica.js"></script>
<% include partials/footer %>
</body> 
</html>