<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SCP - Login</title>
  <body id="fondo">

    <div id="page-loader"><span class="preloader-interior"></span></div>
    <% include partials/head %>
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
       <div class="tip">
        <img src="/scp.png" class="img-login">
        <h5 style="text-align: center;">Crear una cuenta</h5>
        <form class="col s12 login-form" action="/signup" method="post" id="formulario">
          <% if (message.length > 0) { %>
          <div class="alert">
            <%= message %>
          </div>
          <% } %>
          <div class="row">
           <div class="row">
            <div class="input-field col s12">
             <input type="email" name="email" class="validate">
             <label for="email">Email</label>
           </div>
         </div>
         <div class="row">
          <div class="input-field col s12">
            <input type="password" name="password" id="pass1" value="" class="validate" onInput="validarInput()">
            <label for="password">Contraseña</label>
          </div>
        </div>
         <div class="row">
          <div class="input-field col s12">
            <input type="password" name="confirmpassword" id="pass2" value="" class="validate"onInput="validarInput2()">
            <label for="confirmpassword"> Confirmar Contraseña</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light btn-login" type="submit" value="enviar datos" name="send" id="send" disabled>Crear cuenta</button>
        <div class="login-box">
          Tienes una cuenta? <a href="/login">Iniciar sesion</a>
        </div>
      </div>   
    </form>
  </div>
</div>
</div>

<script src="../config/lol.js"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>

  $(window).load(function(){
    $('#page-loader').fadeOut(500);

  });

</script>
<script type="text/javascript" src="/funnciones.js"></script>
</body>
</html>
