<!DOCTYPE html>
<html>
<head>
	<title>SCP - Tutorial</title>
	    <% include partials/head %>
<link rel="stylesheet" href="/parallax.css">

</head>
<body>
  <div id="multi-background">
    
  </div>
     
</body>
</html>