    <nav>
      <div class="nav-wrapper">
       <a href="/panel"><img src="/scp.png" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/profile2"><i class="material-icons nav" onclick="day()">departure_board</i></a></li>
         <li><a href=""><i class="material-icons nav" onclick="night()">map</i></a></li>
          <li><a href="#"><i class="material-icons nav">my_location</i></a></li>
          <li><a href="/logout"><i class="material-icons nav">exit_to_app</i></a></li>
         
        </ul>
      </div>
    </nav>  